[defaults]
# Run playbooks from this repo without passing -i every time (override with ansible-playbook -i ...).
inventory = inventory.ini
interpreter_python = auto_silent
nocows = 1

[ssh_connection]
pipelining = True
